.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75rem 0 0 0.75rem;

  &__bbc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; /* Space between logo and text */
  }

  &__square {
    width: 2.5rem; /* Adjust size as needed */
    height: 2.5rem; /* Adjust size as needed */
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif; /* Adjust font family as needed */
    font-weight: bold;
    font-size: 2rem; /* Adjust font size as needed */
    margin: 0 5px; /* Adjust spacing between squares */
  }

  &__text {
    font-family: Arial, sans-serif;
    font-size: 0.85rem; /* Adjust font size as needed */
    color: black; /* Adjust color as needed */
  }
}
